.about-us {
    background-color: #fee967;
    padding:7rem 4rem 3rem 4rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    
    
    
}



.about-us-picture {
    width: 50vw;
    height: auto;
    border-radius: 1rem;
}

.about-us__content {
    width: auto;
    font-family: var(--lora-font);
}

.about-us__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #14433D;
    
}

.about-us__text {
    font-size: 1rem;
    padding-top: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    color: #14433D;
}

@media screen and (max-width:60rem) {

    .about-us {
       
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .about-us-picture {
        width: 100%;
        height: auto;
    }

    .about-us__content {

        text-align: center;
    }

    .about-us__text {
       
        width: 35rem;
    
    }

}